*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-container div{
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    padding: 15px;
    background-color: burlywood;
    color: rgb(245, 245, 245);
}